<hr style="margin:40px 0;">

<h3>Health Score</h3>

<div style="text-align:left;line-height:2;">

<p><strong>Documentation:</strong> {{ analysis.health.documentation }}/100</p>

<p><strong>Maintainability:</strong> {{ analysis.health.maintainability }}/100</p>

<p><strong>Security:</strong> {{ analysis.health.security }}/100</p>

<p><strong>Organization:</strong> {{ analysis.health.organization }}/100</p>

<p><strong>Dependencies:</strong> {{ analysis.health.dependencies }}/100</p>

<hr>

<h2>Overall Health : {{ analysis.health.overall }}/100</h2>

</div>