<hr style="margin:40px 0;">

<h3>Health Score</h3>

<div style="text-align:left;line-height:2;">

<h4>
Documentation:
{{ analysis.health.documentation }}/100
</h4>

<ul>

{% for reason in analysis.health.reasons.documentation %}

<li>{{ reason }}</li>

{% endfor %}

</ul>

<h4>
Maintainability:
{{ analysis.health.maintainability }}/100
</h4>

<ul>

{% for reason in analysis.health.reasons.maintainability %}

<li>{{ reason }}</li>

{% endfor %}

</ul>

<h4>
Security:
{{ analysis.health.security }}/100
</h4>

<ul>

{% for reason in analysis.health.reasons.security %}

<li>{{ reason }}</li>

{% endfor %}

</ul>

<h4>
Organization:
{{ analysis.health.organization }}/100
</h4>

<ul>

{% for reason in analysis.health.reasons.organization %}

<li>{{ reason }}</li>

{% endfor %}

</ul>

<h4>
Dependencies:
{{ analysis.health.dependencies }}/100
</h4>

<ul>

{% for reason in analysis.health.reasons.dependencies %}

<li>{{ reason }}</li>

{% endfor %}

</ul>

<hr>

<h2>
Overall Health :
{{ analysis.health.overall }}/100
</h2>

</div>